@page
@model form.Pages.ThirdOneModel
@{
    ViewData["Title"] = "Resumen";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Index"><i class="icon icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="/Index">Login</a></li>
    <li class="breadcrumb-item"><a href="/ZeroSecond">Seleccion de fecha</a></li>
    <li class="breadcrumb-item"><a href="/Second">Datos</a></li>
    <li class="breadcrumb-item"><a href="/TwoFive">Permisos</a></li>
    <li class="breadcrumb-item"><a href="/ZeroThird">Leyes</a></li>
    <li class="breadcrumb-item"><a href="/TwoNine">Subir documentos</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="/Third">Resumen de seleccion</a></li>
</ol>
<h2>Resumen de selección</h2>

<div class="card p-3 mb-3">
    <p><strong>Area:</strong>@Model.Seccion</p>
    <p><strong>Regulacion:</strong>@Model.Regulacion</p>
    <p><strong>Ley:</strong>@Model.Ley</p>
    <p><strong>Articulo:</strong>@Model.Articulo</p>
    <p><strong>Parrafo:</strong>@Model.Parrafo</p>




</div>


<form method="post">

    <button type="submit" class="btn btn-primary">
        Confirmar
        y finalizar</button>
    <a asp-page="/TwoNine" class="btn btn-secondary ms-2">Volver</a>
</form>